/* title text color #2E2F42 */
/* text color  #434455 */
/* Accent color #4D5AE5 */
/* Footer color #E7E9FC */
/* White  #FFFFFF */
/* Secound bg color  #F4F4FD */
/* Header and Footeer color #2E2F42 */

:root {
  --primary-text-color: #434455;
  --title-text-color: #2e2f42;
  --accent-color: #4d5ae5;
  --sec-bg-color: #f4f4fd;
  --primary-bg-color: #e5e5e5;
  --header-bg-color: #e7e9fc;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);

  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.list {
  list-style: none;
}

/* Логотип */

.logo .web {
  color: var(--accent-color);
  font-family: "Raleway", cursive;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
}

.logo .studio {
  color: var(--title-text-color);
  font-family: "Raleway", cursive;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
}

/* Навигация и контакты */
.site-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: #000000;
}

.contacts .link {
  color: var(--primary-text-color);
}

/* Геройка */

.hero-title {
  color: #000000;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}

/* Секции */
.section-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

/* Работники */
.workers-list .title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
}

/* Возможности */
.feature-list .title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.feature-list .text {
  font-weight: 400;
}

.workers-list .text {
  text-align: center;
}

/* Кнопка 1 */
.hero .link {
  color: #ffffff;
  background-color: var(--accent-color);
  border: none;
}

/* Фильтры */
.filters .link:hover,
.filters .link:active {
  background-color: var(--accent-color);
  color: #ffffff;
}

.filters .link {
  color: var(--accent-color);
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
}

/* Возможности */
.opportunities-list .title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
