/* Цвет заголовка #2E2F42 */
/* Цвет текста  #434455 */
/* Акценты  #4D5AE5 */
/* Цвет текста футера #E7E9FC */
/* Белый  #FFFFFF */
/* Вторичный цвет фона  #F4F4FD */
/* Цвет хедера и футера #2E2F42 */

:root {
  --primary-text-color: #434455;
  --title-text-color: #2e2f42;
  --accent-color: #4d5ae5;
  --sec-bg-color: #f4f4fd;
  --primary-bg-color: #e5e5e5;
  --header-bg-color: #e7e9fc;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
}

.list {
  list-style: none;
}

/* Логотип */

.logo .web {
  color: var(--accent-color);
}

.logo .studio {
  color: var(--title-text-color);
}

/* Навигация и контакты */
.site-nav .link {
  color: var(--title-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: #000000;
}

.contacts .link {
  color: var(--primary-text-color);
}

/* Геройка */
.hero-title {
  color: #000000;
}

/* Секции */
.section-title {
  color: var(--title-text-color);
}

/* Работники */
.workers-list .title {
  color: var(--title-text-color);
}

/* Функции либо Features */
.feature-list .title {
  color: var(--title-text-color);
}

/* Кнопка */
.hero .link {
  color: #ffffff;
  background-color: var(--accent-color);
  border: none;
}

/* Навигация в самом портфолио */
.filters .link:hover {
  background-color: var(--accent-color);
  color: #ffffff;
}

.filters .link {
  color: var(--accent-color);
  border: none;
}

/* Возможности */
.opportunities-list .title {
  color: var(--title-text-color);
}
